body {
    font-family: 'Raleway', sans-serif;
    background: #13d85e;
    background-image: url("background.jpg");
    background-size: cover;
    color: #222;
}

.wrap>div {
    border: 1px solid rgb(28, 25, 22);
    border-radius: 5px;
    color: #3e1e0c;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.header {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #79e00e;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 40px;
}
.footer {
  margin-top: 10px;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  color: #79e00e;
  font-size: 20px;
}
.card {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #f1f1f1, rgb(230, 222, 149));
    padding: 1px;
    width: 400px;
    box-shadow: 0px 5px 15px 0px rgba(17, 14, 14, 0.5);
    border-radius: 4px;
    border: 1px solid black;
    -webkit-transition: -webkit-transform 2s ease-in-out;
    -ms-transition: -ms-transform 2s ease-in-out;
    transition: transform 2s ease-in-out;
    align-self: center;
    justify-self: center;
    height: 550px;
}

.card:hover {
    cursor: pointer;
    transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
}

ul {
    list-style-type: none;
}

span {
    font-weight: bold;
}

#content {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    /* padding-bottom: 20px;
  padding: 10px; */
    border: 1px solid black;
    border-radius: 4px;
    width: 380px;
    box-shadow: 0px 5px 15px 0px rgba(17, 14, 14, 0.5);
    height: 100%;
}

#inner-content {
    display: block;
    margin: 0 auto;
    width: 90%;
}

h3 {
    font-family: 'Raleway', sans-serif;
    padding-left: 10px;
}

h4 {
  line-height: 1px;
}

.picture {
    border: 1px solid black;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    width: 380px;
    max-height: 218px;
    margin-bottom: 5px;
    box-shadow: 0px 5px 15px 0px rgba(17, 14, 14, 0.5);
}