.container {
    
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}
#messageArea {
    display: flex;
    flex: 1;
    background-color: antiquewhite;
}
.btnContainer {
    display: flex;
    align-content: stretch;
    background-color: aqua;
}